h1{
    color: white;
    background-color: black;
    text-align: center;
    margin: -7px;
    padding: 10px;
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
}
#int{
    color: white;
}